# Server Port (Defaults to 8444 if not specified)
PORT=8444

# XM360 / MetaTrader Credentials (Optional: Can also be set in Web UI)
XM_API_TOKEN=
XM_ACCOUNT_ID=
XM_SERVER_NAME=XMGlobal-Real 30
XM_PLATFORM=MT5

